@page
@using DoAnMonHoc_23880108.LuuTru;
@using DoAnMonHoc_23880108.NghiepVu;
@using DoAnMonHoc_23880108.Entity;

@model DoAnMonHoc_23880108.Pages.MH_QuanLyHoaDonBanHangModel

@{
	string username = HttpContext.Session.GetString("username")!;
	if (string.IsNullOrEmpty(username))
	{
		Response.Redirect("/MH_TrangChu");
	}
	else
	{
		XuLyHoaDonBanHang.CapNhatHoaDon();
		HoaDon[] ds;
		string tuKhoa = string.Empty;

		if (Request.Method == "POST")
		{
			tuKhoa = Request.Form["tukhoa"]!;
			ds = XuLyHoaDonBanHang.DocDanhSach(tuKhoa);
		}

		else
		{
			ds = XuLyHoaDonBanHang.DocDanhSach();
		}


		<p style=" text-align:center; font-size:larger; font-weight: bold">DANH SÁCH HÓA ĐƠN BÁN HÀNG</p>

		<div>
			<form method="POST">
				<label for="fname">Tìm mã hóa đơn:</label><br>
				<input type="text" id="fname" name="tukhoa" value="@tuKhoa">


				<input type="submit" value="Tìm kiếm" />
			</form>
		</div>
		<br>


		@if (ds != null)
		{
			<div>
				<table>
					<tr>
						<th>STT</th>
						<th>Mã Hóa Đơn</th>
						<th>Họ Tên Người Mua Hàng</th>
						<th>Ngày Tạo Hóa Đơn</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					@for (int i = 0; i < ds.Length; i++)
					{
						<tr>
							<td>@(i + 1)</td>
							<td>@ds[i].Ma</td>
							<td>@ds[i].TenNguoi</td>
							<td>@ds[i].NgayTao</td>
							<td>
								<a href="/MH_XemChiTietHoaDonBanHang?maHD=@ds[i].Ma">Xem chi tiết</a>
							</td>
							<td>
								<a href="/MH_SuaHoaDonBanHang?maHD=@ds[i].Ma">Sửa thông tin</a>
							</td>
							<td>
								<a href="/MH_XoaHoaDonBanHang?maHD=@ds[i].Ma">Xóa</a>
							</td>
						</tr>
					}
				</table>
			</div>
		}
		<div>
			<a href="/MH_ThemHoaDonBanHang">Tạo Hóa Đơn Mới</a>
		</div>
	}
}