@page
@using DoAnMonHoc_23880108.LuuTru;
@using DoAnMonHoc_23880108.NghiepVu;
@using DoAnMonHoc_23880108.Entity;

@model DoAnMonHoc_23880108.Pages.MH_XemChiTietHoaDonNhapHangModel
@{
	string username = HttpContext.Session.GetString("username")!;
	if (string.IsNullOrEmpty(username))
	{
		Response.Redirect("/MH_TrangChu");
	}
	else
	{
		string maHoaDon = Request.Query["maHD"]!;

		HoaDon? hd = XuLyHoaDonNhapHang.DocHoaDon(maHoaDon);
		if (hd.HasValue)
		{
			<p style=" text-align:center; font-size:larger; font-weight: bold">HÓA ĐƠN NHẬP HÀNG</p>

			<div><a style="font-weight:bold">Mã hóa đơn:</a> @hd.Value.Ma</div>
			<div><a style="font-weight:bold">Tên Người/Đơn Vị bán hàng:</a> @hd.Value.TenNguoi</div>
			<div><a style="font-weight:bold">Ngày tạo hóa đơn:</a> @hd.Value.NgayTao</div>
			<br>

			DanhMuc[] mh = XuLyDanhMucNhapHang.DocDanhSachTheoHoaDon(@hd.Value.Ma);
			int sum = XuLyHoaDonNhapHang.TongGiaTriHoaDon(@hd.Value.Ma);

			<div>
				<table>
					<tr>
						<th>STT</th>
						<th>Tên Hàng Hóa, Dịch Vụ</th>
						<th>Đơn Vị</th>
						<th>Số Lượng</th>
						<th>Đơn Giá (VNĐ)</th>
						<th>Thành Tiền (VNĐ)</th>
					</tr>
					@for (int i = 0; i < mh.Length; i++)
					{
						<tr>
							<td>@(i + 1)</td>
							<td>@mh[i].TenHang</td>
							<td>@mh[i].DonVi</td>
							<td>@mh[i].SoLuong</td>
							<td>@mh[i].DonGia.ToString("#,##0")</td>
							<td>@((mh[i].SoLuong * mh[i].DonGia).ToString("#,##0"))</td>
						</tr>
					}
				</table>
				<p style=" text-align:right">TỔNG CỘNG: @sum.ToString("#,##0") (VNĐ)</p>
			</div>
			<br>

			<div style="text-align: center">
				<p style="font-style: italic">
					TP.HCM, ngày @hd.Value.NgayTao.Day tháng @hd.Value.NgayTao.Month năm @hd.Value.NgayTao.Year
				</p>
				<p style="font-weight: bold ">
					Người tạo hóa đơn
				</p><br><br>
				<p>
					Nguyễn Tiến Phát
				</p>
			</div>
		}
		else
		{
			<p>Không tìm thấy thông tin hóa đơn</p>
		}
	}
}